<footer>
  <div class="author">
    <span>Colorblindness Emulator | Agathe Badia</span>
  </div>
  <div class="social-media">
    <a href="https://github.com/Biki-das" target="_blank" rel="noopener"
    aria-label="Biki's github will open in a new window"><FaIcon class="fa-icon" @icon="github" /></a>

  </div>
</footer>
